.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns p {
  margin: 0;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > div:not(.columns-img-col) {
  padding: 2rem;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    /* gap: 24px; */
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* multi col */
.columns > div > .columns-multi-col {
  position: relative;
  padding: 0 !important;
}

.columns > div > .columns-multi-col > .content-wrapper {
  position: absolute;
  bottom: 0;
  padding: 4rem;
}

.columns > div > .columns-multi-col img {
  object-fit: contain;
}